<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!-- head içeriği burada yer alabilir -->
    <meta charset="UTF-8">
    <title>Inventory Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!-- Navigasyon menüsü burada yer alabilir -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Inventory Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/UserApi/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/UserApi/}">Supplier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/UserApi/}">Sales</a>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" th:if="${#authentication.authenticated}">
                    <a class="nav-link active" aria-current="page" th:href="@{/UserApi/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Add New Sale To System</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:action="@{/sales/save}" th:object="${sales}">

                    <div class="form-group mb-3">
                        <label class="form-label">Select Product:</label>
                        <select name="products">
                            <option th:each="product : $ {products}" th:text="${product}"></option>
                        </select>
                        <!-- Hata mesajlarını ekle -->
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="form-label">Quantity</label>
                        <input class="form-control"
                               id="quantity"
                               name="quantity"
                               placeholder="Enter quantity"
                               th:field="*{quantity}"
                               type="number"
                        />
                        <!-- Hata mesajlarını ekle -->
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Price</label>
                        <input class="form-control"
                               id="price"
                               name="price"
                               placeholder="Enter price"
                               th:field="*{price}"
                               type="number"
                        />
                        <!-- Hata mesajlarını ekle -->
                    </div>
                        
                    <div class="form-group mb-3">
                        <label class="form-label">Order Number</label>
                        <input class="form-control"
                               id="order"
                               name="order"
                               placeholder="Enter order number"
                               th:field="*{order}"
                               type="number"
                        />   
                        <!-- Hata mesajlarını ekle -->
                    </div>

                    <div class="form-group mb-3 text-center">
                        <button class="btn btn-primary" type="submit">Add New Sale</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
