<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supplier Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Inventory Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/UserApi/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/inventory/products}">Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/UserApi/supplier}">Supplier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/sales}">Sales</a>
                    </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" th:if="${#authentication.authenticated}">
                        <a class="nav-link active" aria-current="page" th:href="@{/UserApi/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container mt-4">
    <span><a href="/reports/generate">Export as PDF</a></span>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Product List</h2>
        <button id="add-button" class="btn btn-primary">Add</button>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Supplier</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="supply : ${supplier}">
            <td th:text="${supply.supplyId}"></td>
            <td th:text="${supply.category}"></td>
            <td th:text="${supply.price}"></td>
            <td th:text="${supply.supplier}"></td>
            <td><a th:href="@{/supplier/update/{id}(id=${supply.supplyId})}">Edit</a> </td>
            <td><a th:href="@{/supplier/delete/{id}(id=${supply.supplyId})}">Delete</a> </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
